# Google Sheets Configuration
GOOGLE_SPREADSHEET_ID=https://docs.google.com/spreadsheets/d/1KXGgAkExgnc2RokJknvktv4DRAe8OE80oNq0Y6nOfBE/edit?gid=0#gid=0
GOOGLE_SHEET_NAME=Members
GOOGLE_CREDENTIALS_PATH=credentials.json

# Flask Configuration (optional)
FLASK_ENV=development
FLASK_DEBUG=True
